{{!-- footer --}}

  <footer id="main-footer" class="pt-3 bg-primary text-white fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto">
          <p>
            &copy; Central PA LGBT History Project
            <span id="year"></span>.
          </p>
        </div>
        <div class="col-md-6 mr-auto">
          <p class="text-end">
            Follow us:
            <span><a href="https://facebook.com/lgbtcentralpa" class="social-link"><i class="fa-brands fa-facebook"></i></a></span>
            <span><a href="https://twitter.com/lgbtcentralpa" class="social-link"><i class="fa-brands fa-twitter"></i></a></span>
            <span><a href="https://www.instagram.com/lgbtcentralpa/" class="social-link"><i class="fa-brands fa-instagram"></i></a></span>
          </p>
        </div>
      </div>
    </div>
  </footer>

  {{!-- left: Center logo, right: address --}}
  {{!-- hr --}}
  {{!-- left: © Central PA LGBT History Project 2022. All rights reserved. right: Follow us: social icons with links --}}