{{!-- HEADER --}}
<header>
  <div class="container d-flex align-items-center">
    <div class="p-4">
          <a class="navbar-brand" href="/"><img src="/images/history_project_logo.jpg" class="logo-img responsive-img"></a>
      </div>
      <div class="p-5">
          <h1 class="text-center">The History Project</h1>
          <h3 class="text-center">Discovering Stories of Extraordinary Lives</h3>
      </div>
    </div>
</header>
  {{!-- NAV BAR --}}
<div class="container">
<nav class="navbar navbar-expand-sm navbar-light bg-white mb-5">
        <div class="container-fluid">
            <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exhibits">Exhibits</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/collections">Collections</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="#">Learn</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/give">Give</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
      </div>
    </nav>
  </div>