<div class="container">
  <section class="text-dark p-5">
    <h3 class="display-4">About The History Project</h3>
      <p class="lead">The History Project is mostly volunteer-run, governed by a Steering Committee as a partnership between the LGBT Center of Central PA and the Dickinson College Archives and Special Collections. Some of our activities include:</p>
      <ul>
        <li>Seeking out individuals living in central Pennsyvlania, or who have previously lived in central Pennsylvania, who are LGBTQ+ or allies, who are willing to share their storeis and/or archival materials and artifacts related to LGBTQ+ history in central Pennsylvania.</li>
        <li>Training volunteers and interns to conduct oral history interviews, do transcriptions of interviews and assist in the collection and processing of archival and artifact collections.</li>
        <li>Referencing our collections to research and develop the stories of LGBTQ+ history in central Pennsylvania.</li>
        <li>Researching to develop exhibits and programs that interpret and tell the stories of LGBTQ+ history in central Pennsylvania and present them to the public.</li>
        <li>Developing publications, including our book, Out in Central Pennsylvania: The History of an LGBTQ Community, published in June 2020 by Penn State University Press.</li>
      </ul>
      <div class="d-flex">
        <figure class="float-right">
          <img src="https://res.cloudinary.com/ddc3lbpxj/image/upload/v1671065071/About%20Page/LGBT_Center_Dr._Rachel_Levine_1-6847907_u4s558.jpg" class="figure-img img-fluid" alt="Photo of Dr. Rachel Levine">
          <figcaption class="figure-caption">An oral history interview with Dr. Rachel Levine, Assistant Secretary for Health for the U.S. Department of Health and Human Services.</figcaption>
        </figure>
      </div>
  </section>
</div>