<div class="container mb-5">
  {{!-- Jumbotron for main promotion --}}

  <div class="container">    
      <div class="jumbotron d-flex justify-content-center align-items-center bg-light text-dark">
        <div class="p-5">
          <h1 class="display-4">Out on Campus:</h1>
          <p class="lead">A History of LGBTQ+ Activism at Pennsylvania Colleges and Universities</p>
          <hr>
          <a class="btn btn-secondary btn-lg" href="/exhibits" role="button">View Exhibit</a>
        </div>
        <div class="p-4">
          <img src="https://source.unsplash.com/random/500x350" alt="A temporary random image" class="img-fluid">
        </div>
      </div>
      <br>
  </div>

  {{!-- Mission Section --}}
  <div class="container">
  <section class="bg-primary text-light p-5">
    <div class="container">
      <div class="row align-items-center">
        <div>
          <h2 class="display-4">Our Mission</h3>
          <hr>
          <p class="lead">The History Project engages people in discovering, documenting, collecting, preserving and presenting the history of the LGBTQ+ community in central Pennsylvania through oral history and material culture.</p>
        </div>
      </div>

      <div class="card-group">
        <div class="card text-dark bg-light">
          <img src="https://source.unsplash.com/random/300x200" class="card-img-top" alt="A temporary random image">
          <div class="card-body">
            <h5 class="card-title">Exhibits</h5>
            <p class="card-text">Learn more about our traveling exhibits and view our digital exhibits.</p>
          </div>
        </div>
        <div class="card text-dark bg-light">
          <a href="https://archives.dickinson.edu/lgbt"><img src="https://source.unsplash.com/random/301x200" class="card-img-top" alt="A temporary random image"></a>
          <div class="card-body">
            <h5 class="card-title">Collections</h5>
            <p class="card-text">Explore our archival collection on <a href="https://archives.dickinson.edu/lgbt">Dickinson College Archives and Special Collections' website.</a></p>
          </div>
        </div>
        <div class="card text-dark bg-light">
          <a href="https://youtube.com/playlist?list=PLFfps9jrcah7wji125Kp467SDIlvej9lH"><img src="https://source.unsplash.com/random/302x200" class="card-img-top" alt="A temporary random image"></a>
          <div class="card-body">
            <h5 class="card-title">Oral Histories</h5>
            <p class="card-text">You can view our oral history interviews on <a href="https://youtube.com/playlist?list=PLFfps9jrcah7wji125Kp467SDIlvej9lH">Youtube!</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{!-- Events Feature --}}
  <section class="bg-light p-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <img src="https://source.unsplash.com/random/501x350" alt="person making a list" class="img-fluid mb-3">
        </div>
        <div class="col-md-6">
          <h3 class="display-5">Events</h3>
          <p class="lead">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
        </div>
      </div>
    </div>
  </section>

  {{!-- Learn Feature --}}
  <section class="bg-secondary p-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="display-5">Learn</h3>
          <p class="lead">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
        </div>
        <div class="col-md-6">
          <img src="https://source.unsplash.com/random/502x350" alt="person making a list" class="img-fluid mb-3">
        </div>
      </div>
    </div>
  </section>
  </div>
</div>