html {
  font-family: 'Cabin', Helvetica, sans-serif;
}

.fancy-font {
  font-family: 'Cormorant', serif;
}

.brand-logo {
  font-family: 'Cormorant', serif;
  display: inline-block;
}

.logo-img {
  max-height: 200px;
  margin-top: 8px;
}
