<div class="container">
  <h1>Duty, Honor, Pride</h1>
  <h3>Military Experiences of LGBTQ+ Servicemembers of Central PA</h3>
  <img src="https://asset.cloudinary.com/ddc3lbpxj/5079c3759a4adc9806aa61fe896d6174">
</div>
<div class="container">
  <h2>Introduction</h2>
  <p>Members of the LGBTQ+ community have specifically been excluded from service in the United States Armed Forces since World War Two because of their sexuality. A crime of discovery meant that LGBTQ+ servicemembers would be discharged from the service if the military discovered their sexual orientation. This policy continued for the majority of the 20th century, lasting past the end of the Vietnam War and into the 1990s. Enforcement came in the form of investigations into a suspected soldier's private life to uncover the individual's sexual orientation. In 1994, the "Don't Ask, Don't Tell" policy allowed LGBTQ+ soldiers to serve in the military as long as they were not open about their sexuality. Despite stipulations meant to decrease harassment and inquiries, "Don't Ask, Don't Tell" received public criticism as a failed policy. Service members were still being investigated, harassed, and questioned about their sexual orientation even if they remained closeted under this new policy.</p>
  <p> This digital exhibit explores the military experiences of several central Pennsylvanian LGBTQ+ servicemembers during periods when the LGBTQ+ community was prevented from openly serving in the military. It was created for the LGBTQ+ Center of Central PA's History Project using collection materials and oral histories housed at the Dickinson College Archives and Special Collections.
  </p>
  <p>Exhibit curated by Kelsey Bell, LGBT History Project Summer 2019 Intern</p>
</div>

<div class="container">
    <blockquote>
      <p>"I would still be in to this day, had it not been for my sexuality." -Lindsay Snowden</p>
    </blockquote>
</div>

<div class="container">
  <button href="/vietnam">Next</button>
</div>