<div class="container">
  <h1>Duty, Honor, Pride</h1>
  <h3>Military Experiences of LGBTQ+ Servicemembers of Central PA</h3>
  <img src="https://asset.cloudinary.com/ddc3lbpxj/5079c3759a4adc9806aa61fe896d6174">
</div>
<div class="container">
  <section>
  <h2>Investigations during the Vietnam War Era</h2>
  <p>LGBTQ+ soldiers serving during the Vietnam War faced investigations into their private lives if the military suspected them of being gay or lesbian. Mary Merriman, who joined the Air Force in 1967, noted “homosexuality was listed as a mental illness” during this time. “They had not declassified it ‘til 1973. So, you were always kind of under a lot of suspicion” if your sexual orientation was questioned. She managed to survive the investigations but remained very cautious throughout her military service. These investigations inspected soldiers’ private lives, exploring the relationships they had inside and outside the military.</p>
  <p>Despite never admitting her sexuality to her commander, Merriman’s sexuality was continuously questioned by her female commander who inferred that Merriman’s short haircut meant she was a lesbian. Merriman only left the military once she found out she was pregnant. In fact, her pregnancy protected her from the last set of investigations she went through. It was as if her pregnancy convinced the investigators that she couldn’t be both a lesbian and a pregnant woman.</p>
  </section>
  <section>
    {{!-- ! Video here --}}
    <img src="https://res.cloudinary.com/ddc3lbpxj/image/upload/v1673225280/Military%20Exhibit/MaryMerriman1968_xsw2vp.jpg" alt="">
  </section>
</div>
<div class="container">
  <section>
    {{!-- ! video here --}}
  </section>
  <section>
    <h2>Caution Undertaken</h2>
    <p>To avoid these investigations and discrimination, several LGBTQ+ soldiers hid their sexuality from the military. Jerre Freiberg, a native of Lancaster, PA, served in the U.S. Navy for 22 years after enlisting in 1964. Despite enjoying his naval career, it was difficult for him to pursue a same-sex relationship while continuing his military service. He was able to avoid investigations into his sexuality, as far as he knows, by taking serious caution in how he lived his life.</p>
  </section>
  <section>
    <h2>Difference in Location of Service</h2>
    <p>The context of the area where they were stationed certainly played a role in the level of discrimination LGBTQ+ servicemembers faced. Some managed to avoid most of the discrimination by being stationed abroad during this era. Serving in the Air Force from 1968 to 1972 as a dental technician, Charles Maser felt he didn’t experience much prejudice as a gay man in the military as he was stationed in Germany and Spain for the majority of his military service.</p>
  </section>
  <section>
    {{!-- ! video --}}
   <figure>
      <img src="https://res.cloudinary.com/ddc3lbpxj/image/upload/v1673225273/Military%20Exhibit/CharlesMaser_Uniform1968_dljiw2.jpg" alt="">
      <figcaption>(Left) Charles in his barracks room at Charleston Air Force Base, South Carolina, 1968; (Right) Charles wearing his dental lab smock, 1968.</figcaption>
    </figure>
        <figure>
      <img src="https://res.cloudinary.com/ddc3lbpxj/image/upload/v1673225274/Military%20Exhibit/CharlesMaser_Travels1971_anlzkf.jpg" alt="">
      <figcaption>(Left) Charles at St. Peter’s Square, Rome, 1971; (Right) Charles beside the Colosseum, Rome, 1971.</figcaption>
    </figure>
  </section>
</div>
<div class="container">
  <button>Previous</button>
  <button>Next</button>
</div>