<div class="container">
  <h1>Duty, Honor, Pride</h1>
  <h3>Military Experiences of LGBTQ+ Servicemembers of Central PA</h3>
  <img src="https://asset.cloudinary.com/ddc3lbpxj/5079c3759a4adc9806aa61fe896d6174">
</div>
<div class="container">
  <section>
    <h2>Experiences during the Vietnam War Era</h2>
    <p>Born in Greensburg, PA in 1952, Melita McCully enlisted in the U.S. Army as an officer in the Women’s Army Corp when she was 21 years old. The Women’s Army Corp was discontinued by 1978 and its female officers formally integrated in the Army. At a time when women couldn’t go into the combat arms branches, McCully selected a position in Signal CORS, while the majority of her 160 female classmates chose different positions. This path led her to several accomplishments throughout her 29 years of service, including becoming the “first woman in the army to command a tactical combat signal brigade.”</p>
    <p>During this time, LGBTQ+ people serving in the military had to hide their sexuality. If suspected of being gay, they would be investigated and discharged. The crime was being discovered. As a result, LGBTQ+ servicemembers were forced to hide their sexual orientation if they wished to remain in the military. LGBTQ+ soldiers like McCully were able to avoid an investigations into their sexual orientation by living a life of caution.</p>
  </section>
  <section>
    {{!-- ! Video here --}}
  </section>
</div>

<div class="container">
  <section>
    <figure>
      <img src="https://res.cloudinary.com/ddc3lbpxj/image/upload/v1673225278/Military%20Exhibit/LGBT-041_1.1photo_ao2d9x.jpg">
      <figcaption>LGBT-041: Photograph of Sam Edmiston in uniform (dated from 1963 to 1966.)</figcaption>
    </figure>
    <p>​In the April of 1963, Sam Edmiston enrolled in the US Navy, and three weeks after his graduation, went to the Keel United States Naval Training Center in Great Lakes, Illinois for recruitment training. While in the US Navy, Edmiston was a dispersing clerk and enjoyed his time there, until he was investigated by the Navy for being gay. During the process, Edmiston was interrogated in front of his crew members and independently, officers interrogated his best friend’s parents, they opened his mail for evidence, and ultimately would not stop the investigation until Edmiston signed the discharge papers. He was “dishonorably discharged” in 1966. After he left the navy, Edmiston fought to change the reason for discharge, and after six years, his papers were changed to a “general discharge under general conditions.”</p>
    </section>
    </div>
    <div class="container">
    <section>
    <figure>
      <img src="https://res.cloudinary.com/ddc3lbpxj/image/upload/v1673225283/Military%20Exhibit/LGBT-041_1.13photo_xloosw.jpg">
      <figcaption>LGBT-041: Photograph of Sam Edmiston in uniform (dated from 1963 to 1966.)</figcaption>
    </figure>
    <figure>
      <img src="https://res.cloudinary.com/ddc3lbpxj/image/upload/v1673225281/Military%20Exhibit/LGBT-041_2.01dischargepapers_jtoikf.jpg" alt="">
      <figcaption>LGBT-041: Sam Edmiston's discharge papers from the U.S. Navy (dated 1965.)</figcaption>
    </figure>
  </section>
</div>
<div class="container">
  <section>
    <p>When investigations or background checks uncovered an LGBTQ+ soldier’s sexual orientation, soldiers like Bob Kegris  were subsequently discharged from the military solely based on their sexual orientation. Kegris, a native of Harrisburg, PA, served for about 1 ½ years in the U.S. Army as a teletypist and cryptographer. However, when he was assigned to the Army Security Agency, Kegris was required to undergo a security background check for his new position. Unfortunately, someone outed him during this process, and he was discharged in 1961.</p>
    {{!-- ! Video goes here --}}
  </section>
</div>
<div>
  <blockquote>"It became a dance in 1967, '68, a time where a lot of people were having every kind of relationship and trying everything in the books. It was a time in the military where you could not be out, because, you remember in 1967, homosexuality was listed as a mental illness.” -Mary Merriman</blockquote>
</div>
<div class="container">
  <button>Previous</button>
  <button>Next</button>
</div>